<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JeuPendu_windowsforms.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="JeuPendu_windowsforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JeuPendu_windowsforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <JeuPendu_windowsforms.Settings>
            <setting name="PathData" serializeAs="String">
                <value>C:\Users\CDI\Documents\Visual Studio 2015\FGS_jeuPendu</value>
            </setting>
        </JeuPendu_windowsforms.Settings>
        <JeuPendu_windowsforms.Properties.Settings>
            <setting name="PathData" serializeAs="String">
                <value>C:\Users\CDI\Source\Repos\FGS_jeuPendu</value>
            </setting>
        </JeuPendu_windowsforms.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <JeuPendu_windowsforms.Properties.Settings>
            <setting name="CheminDico" serializeAs="String">
                <value>C:\Users\CDI\Documents\Visual Studio 2015\FGS_jeuPendu\dictionnaire.txt</value>
            </setting>
        </JeuPendu_windowsforms.Properties.Settings>
    </userSettings>
</configuration>